html,
      body,
      #viewDiv {
        padding: ;
        margin: ;
        height: 100%;
        width: 100%;
        background:rgba(175,175,185);
      }
      #infoDiv {
        padding: 10px;
      }
